<div>
    <img src="https://c.tenor.com/dZwkAAJEtYwAAAAM/gasolina-precios.gif" alt="Gasolinera" width="200px" height="200px">
    <h2>Dirección</h2>
    <h3>{{gasolinera.direccion}} </h3>
    <div>Municipio: {{gasolinera.municipio}}</div>
    <div>Provincia: {{gasolinera.provincia}}</div>

    <p>Precio Gasoleo A: {{gasolinera.precioGasoleoA}}</p>
    <p>Precio Gasolina 95 ES: {{gasolinera.precioGasolina95E5}}</p>
    <p>Precio Gasolina 98 ES: {{gasolinera.precioGasolina98E5}}</p>
    <p>Rotulo de la gasolinera: {{gasolinera.rotulo}}</p>
    <p>Id de la gasolinera: {{gasolinera.ideess}}</p>
    <p>Id del municipio: {{gasolinera.idMunicipio}}</p>
    <p>Id de la provincia: {{gasolinera.idProvincia}}</p>
    <p>Id de la comunidad autonoma: {{gasolinera.idccaa}}</p>

</div>
