
<mat-form-field appearance="fill">
  <mat-label>Provincias</mat-label>
  <mat-select name="gasolineras" [(ngModel)]="provinciasSelected" multiple>
    <mat-option *ngFor="let provincia of provinciasList" [value]="provincia.IDPovincia">{{provincia.Provincia}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="filterProvincias()">Filtrar</button>

  <br>

  <mat-form-field>
    <input matInput [(ngModel)]="preciomin" type="number" min="0" max="9" step="0.5" placeholder="Indique el valor minimo">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="preciomax" type="number" min="0" max="9" step="0.5" placeholder="Indique el valor maximo">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Tipos de gasolina</mat-label>
    <mat-select name="provincias" [(ngModel)]="tipoGasolina">
      <mat-option value="precioGasoleoA">
        GasoleoA
      </mat-option>
      <mat-option value="precioGasolina95E5">
        Gasolina95
      </mat-option>
      <mat-option value="precioGasolina98E5">
        Gasolina98
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="filtrarPrecios()">filtrar por precio</button>
  
  <br>
  <mat-form-field appearance="fill" *ngIf="mostrar">
    <mat-label>Municipio</mat-label>
    <input matInput autocomplete="true" [matAutocomplete]="auto" [(ngModel)]="municipio">
    <mat-autocomplete #auto="matAutocomplete">  
    <mat-option *ngFor="let municipio of municipioList" [value]="municipio.Municipio">
        {{municipio.Municipio}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button *ngIf="mostrar" mat-raised-button color="primary" (click)="filterMunicipio()">Filtrar Municipios</button>


  <div class="scroll-container" fxFlexFill fxLayout="row wrap" fxLayoutGap="20px grid" fxFlexAlign="center center">
    <app-gasolinera-item *ngFor="let gasolineraI of gasoList" [gasolinera]="gasolineraI"></app-gasolinera-item>
    </div>
