
<mat-form-field appearance="fill">
  <mat-label>Provincias</mat-label>
  <mat-select name="generos" [(ngModel)]="provinciasSelected" multiple>
    <mat-option *ngFor="let provincia of provinciasList" [value]="provincia.IDPovincia">{{provincia.Provincia}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="filterProvincias()">Filtrar</button>
  <div fxFlexFill fxLayout="row wrap" fxLayoutGap="20px grid" fxFlexAlign="center center">
    <app-gasolinera-item *ngFor="let gasolineraI of gasoList" [gasolinera]="gasolineraI"></app-gasolinera-item>
    </div>
