<mat-card class="gaso-card">
    <mat-card-content>
        <div class="gaso-image" fxLayout="column">
            <img src="https://c.tenor.com/dZwkAAJEtYwAAAAM/gasolina-precios.gif" alt="Gasolinera" width="200px"
                height="200px">
        </div>
        <h3 class="gaso-title">{{gasolinera.direccion}} </h3>
        <div class="ellipsis">{{gasolinera.municipio}}</div>
        <div class="ellipsis">{{gasolinera.provincia}}</div>
    </mat-card-content>
    <mat-card-actions>
        <p>Precio Gasoleo A: {{gasolinera.precioGasoleoA}}</p>
        <p>Precio Gasolina 95 ES: {{gasolinera.precioGasolina95E5}}</p>
        <p>Precio Gasolina 98 ES: {{gasolinera.precioGasolina98E5}}</p>
        <p><button mat-raised-button color="warn" (click)="openDialog()">Detalles</button>
        <button mat-raised-button color="warn" (click)="getGoogleMaps(gasolinera.direccion)">Ver en Google</button>
        <button mat-raised-button color="warn" (click)="addFavorite(gasolinera)">Favorito</button></p>
    </mat-card-actions>
</mat-card>